body { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box 
}

.box { 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
.centered { 
    display: inline-block; 
    margin: 0; 
}
.chess-board { 
    border-spacing: 0; 
    border-collapse: collapse; 
}
.chess-board th { 
    padding: .2em; 
}
.chess-board td { 
    border: 1px solid; 
    width: 70px; 
    height: 70px; 
    text-align: center; 
    vertical-align: middle; 
}
.chess-board .white { 
    background: #ffffff; 
    position: relative; 
}
.chess-board .black { 
    background: #000000; 
    position: relative; 
}

.p-black {
    height: 50px; width: 50px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
    background-color: #000;
}

.p-white {
    height: 50px; width: 50px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 3px solid #000;
    background-color: #fff;
}
.p-black:hover, .p-white:hover, button:hover {
    cursor: pointer;
}
.highlight {
    background-color: rgba(102, 0, 0, 0.938) !important;
}
button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: 0;
}