<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous">
    </script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Shashki</title>
</head>

<body>
    <div id="app" class="box">
        <div>
            <h1>Черных шашек: {{stats.black}}</h1>
            <h1>Белых шашек: {{stats.white}}</h1>
        </div>
        <div class="centered">
            <table class="chess-board">
                <tr v-for="x in [0, 1, 2, 3, 4, 5, 6, 7]" :key="x">
                    <td v-for="y in [0, 1, 2, 3, 4, 5, 6, 7]" :key="`${y}_${x}`" class="chess-board"
                        :class="[`${x % 2 == y % 2 ? 'white' : 'black'}`, {'highlight': getAvailable(x, y).have}]">
                        <span @click="moveFrom(x, y, getInfo(x, y).piece)" :class="`p-${getInfo(x, y).piece}`"></span>
                        <button v-if="getAvailable(x, y).have" @click="moveTo(x, y, pickedPiece.piece)">
                            {{ getAvailable(x,y).msg }}
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

<script src="js/main.js"></script>
<script src="js/Vue.js"></script>

</html>